.nav {
    border-top: 3px solid black;
    position: relative;
    width: 100%;

    &__container {
        @include container();
    }

    &__row {
        @include make-row();
    }

    &__inner {
        @include make-xs-column(12);
        padding-top: 10px;
        @media(max-width: $screen-md-max) {
            padding-bottom: 20px;
        }
    }

    &__logo {
        float: left;
        @include make-xs-column(2);
        padding: 0;
        @media(max-width: $screen-md-max) {
             @include make-xs-column(2);
            float: left;
        }
    }

    &-desktop {
        position: relative;

        &__wrapper {
            @include clearfix();

            &__transports {
                @media(max-width: $screen-md-max) {
                     @include make-xs-column(8);
                    margin-left: 50px;
                    float: left;
                }
            }
        }

        &__transports {
            margin-top: 18px;
            margin-left: 25px;
            float: left;
            padding: 1px;
            border: 1px solid white;
            border-radius: 20px;
            box-shadow: inset 0 2px 10px clr('gray');
            background: repeating-linear-gradient(90deg, #eaeaea, #eaeaea 3px, #f2f2f2 3px, #f2f2f2 6px);
        }

        &__transport {
            @include nl() @include clearfix();

            &__item {
                float: left;
                margin-right: 0;
                padding: 8px 10px;
                text-transform: uppercase;

                &.active {
                    border: 4px solid black;
                    border-radius: 20px;
                    padding: 4px 12px;
                    letter-spacing: 0.6px;
                    background-color: white;
                }

                &:last-child {
                    padding-right: 20px;
                }
            }

            &__link {
                text-decoration: none;
                color: black;
                font-size: 11px;
                font-family: Arial;
            }
        }

        &__menu {
            margin-top: 30px;
            margin-left: 30px;
            float: left;
            @media(max-width: $screen-md-max) {
                margin: 10px 30% 0 35%;
                width: 40%;
            }

            &__list {
                @include nl() @include clearfix();

                &-item {
                    float: left;
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &__link {
                    text-decoration: none;
                    color: clr('gray');
                    font-size: 12px;
                    font-family: Arial;
                }
            }
        }

        &__buttons {
            float: right;
            text-align: right;
            margin-top: 31px;
            cursor: pointer;

            img {
                padding-left: 4px;
            }
            @media(max-width: $screen-md-max) {
                position: absolute;
                right: 0;
            }
        }
    }
}
