<div class="nav">
  <div class="nav__container">
    <div class="nav__row">
      <div class="nav__inner">
        <a href="#" class="nav__logo">
          <picture>
            <img srcset="__static__img/content/logo.png"/>
          </picture>
        </a>
        {{#with desktopNav}}
        <div class="nav-desktop">
          <div class="nav-desktop__wrapper">
            <div class='nav-desktop__wrapper__transports'>
              <div class="nav-desktop__transports">
                <ul class="nav-desktop__transport">
                  {{#each transports}}
                  <li class="nav-desktop__transport__item {{#if isActive}} active{{/if}}">
                    <a class="nav-desktop__transport__link" href="{{href}}">{{{text}}}</a>
                  </li>
                {{/each}}
                </ul>
              </div>
            </div>
            <div class="nav-desktop__menu">
              <ul class="nav-desktop__menu__list">
                {{#each links}}
                <li class="nav-desktop__menu__list-item">
                  <a href="{{href}}" class="nav-desktop__menu__list__link">{{{text}}}</a>
                </li>
                {{/each}}
              </ul>
            </div>
            <div class="nav-desktop__buttons">
              <img src="__static__/img/content/search.png"/>
              <img src="__static__/img/content/map_icon.png"/>
            </div>
          </div>
        </div>
        {{/with}}
      </div>
    </div>
  </div>
</div>
