.catalog {
    position: relative;
    width: 100%;
    padding-bottom: 38px;

    &__container {
        @include container();
    }

    &__row {
        @include make-row();
    }

    &__inner {
        @include make-xs-column(9.1);
        padding-top: 10px;
        @media(max-width: $screen-md-max) {
             @include make-xs-column(8);
            float: left;
        }
        @media(max-width: $screen-sm-max) {
             @include make-xs-column(12);
            float: left;
        }
    }

    &__cars {
        list-style: none;
        padding: 0;
        margin-top: 0;
        @media(max-width: $screen-md-max) {
            li {
                margin: 0;

                img {
                    margin: 0;
                }
            }
        }
        @media(max-width: $screen-sm-max) {
            li {
                margin: 0 !important;

                img {
                    margin: 0 !important;
                }
            }
        }

        li:nth-child(2) {
            margin-top: -10px;

            img {
                margin-top: -40px;
            }
        }

        li:nth-child(3) {
            margin-top: 55px;

            img {
                margin-top: -50px;
            }
        }

        li:nth-child(4) {
            margin-top: 70px;

            img {
                margin-top: -60px;
            }
        }

        li:nth-child(5) {
            margin-top: 100px;

            img {
                margin-top: -40px;
            }
        }

        li:nth-child(6) {
            margin-top: 115px;

            img {
                margin-top: -60px;
            }
        }

        li:nth-child(7) {
            margin-top: 80px;

            img {
                margin-top: -40px;
                margin-right: 0;
            }
        }

        &__car {
            overflow: auto;
            @media(max-width: $screen-md-max) {
                margin: 0 !important;
            }

            &__text {
                padding-top: 50px;
                float: left;
                @media(max-width: $screen-md-max) {
                    padding: 20px !important;
                }
                @media(max-width: $screen-sm-max) {
                    float: none;
                    text-align: center;
                }

                &__mark {
                    padding-top: 1px;
                    font-size: 53px;
                    font-family: 'Verdana';
                    font-weight: bold;
                    padding-bottom: 5px;
                }

                &__price {
                    font-size: 21px;
                    font-family: 'Verdana';
                    font-weight: bold;
                    padding-left: 2px;
                    padding-bottom: 11px;
                }

                &__instock {
                    float: left;
                    @media(max-width: $screen-sm-max) {
                        margin: 0 25% 0 30%;
                        width: 50%;
                    }

                    p {
                        float: left;
                        font-size: 14px;
                        font-family: 'Verdana';
                        margin: 0 0 0 4px;
                        padding-bottom: 2px;
                        border-bottom: 1px solid clr('red');
                        cursor: pointer;
                        @media(max-width: $screen-sm-max) {
                            margin: 0 auto;
                        }
                    }

                    &__arrow {
                        float: left;
                        padding: 5px 0 0 5px;
                        cursor: pointer;
                    }
                }
            }

            &__img {
                margin-top: 60px;
                float: right;
                @media(max-width: $screen-md-max) {
                    float: left;
                }
                @media(max-width: $screen-sm-max) {
                    float: none;
                    text-align: center;
                }
            }
        }
    }

    &__accordeon {
        @include make-xs-column(2.9);
        padding-left: 0;
        float: right;
        @media(max-width: $screen-md-max) {
             @include make-xs-column(4);
            float: right;
        }
        @media(max-width: $screen-sm-max) {
             @include make-xs-column(12);
        }
    }
}
