<div class="catalog">
  <div class="catalog__container">
    <div class="catalog__row">
      {{#with accordeon}}
      <div class="catalog__accordeon">
        {{> accordeon/accordeon this }}
      </div>
      {{/with}}
      <div class="catalog__inner">
        <ul class="catalog__cars">
          {{#each car}}
          <li class="catalog__cars__car">
            <div class="catalog__cars__car__text">
              <div class="catalog__cars__car__text__mark">{{{mark}}}</div>
              <div class="catalog__cars__car__text__price">{{{price}}}</div>
              <div class="catalog__cars__car__text__instock">
                <p>
                Посмотреть автомобили в наличии
              </p>
              <div class="catalog__cars__car__text__instock__arrow">
               {{Icon iconName='arrow_in_circle_2' class='catalog__cars__car__text__svg'}}
              </div>
            </div>
            </div>
            <div class="catalog__cars__car__img">
              <img src="__static__img/content/{{img}}"/>
            </div>
          </li>
          {{/each}}
        </ul>
    </div>
  </div>
</div>
</div>
