<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page" style="visibility: hidden" onload="setTimeout ('document.body.style.visibility = \'visible\'', 0)">
        %=symbols=%

        <section class="page__wrapper">

            <!-- Include your modules here -->

            {{> nav/nav nav}}
            {{> contacts/contacts contacts}}
            {{> carousel/carousel carousel}}
            {{> catalog/catalog catalog}}

            <div class="page__buffer"></div>

        </section>

        <footer class="page__footer">
            {{> footer/footer footer}}
        </footer>

        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
        <script>svg4everybody();</script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>

    </body>

</html>
