// Common styles of the project

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-family: 'Arial';
}

body,
html {
    height: 100%;
    width: 100%;
    min-width: 768px;
}
