@mixin pseudo($display: block, $position: absolute) {
position: $position;
display: $display;
content: '';
}

@mixin placeholder($color: #fff) {
&::-webkit-input-placeholder {
color: $color !important;
opacity: 1;
}
&:-moz-placeholder {
color: $color !important;
opacity: 1;
}
&::-moz-placeholder {
color: $color !important;
opacity: 1;
}
&:-ms-input-placeholder {
color: $color !important;
opacity: 1;
}
}

@mixin nl {
margin: 0;
padding: 0;
text-indent: 0;
list-style: none;
list-style-position: outside;
}

@mixin trans($values...) {
@if length($values) == 0 {
$values: .3s;
}
transition: $values;
}

@mixin borrad($radius: 4px, $type: 'all') {
$radiusStr: $radius;
@if $type == 'right' {
$radiusStr: 0 $radius $radius 0
} @else if $type == 'top' {
$radiusStr: $radius $radius 0 0;
} @else if $type == 'left' {
$radiusStr: $radius 0 0 $radius;
}
border-radius: $radiusStr;
}

@mixin field($borderColor: #000, $phColor: #000, $textColor: #000) {
outline: none;
resize: none;
border-radius: 4px;
border: 2px solid $borderColor;
background: transparent;
@include placeholder($phColor);
color: $textColor;
@include typo-p;
padding: 10px;
@include trans;
&:hover,
&:active,
&:focus {
border: 2px solid rgba(46, 123, 223, .7);
}
&_error {
border: 2px solid red;
}
}

@mixin bgCentered($sprite) {
@include bg($sprite);
left: 50%;
top: 50%;
margin-left: -0.5*nth($sprite, 5);
margin-top: -0.5*nth($sprite, 6);
}

@function clr($name) {
@if not map-has-key($colors, $name) {
@warn "No color found for `#{$name}` in $colors map. Property omitted.";
}

@return map-get($colors, $name);
}

@function z($layer) {
@if not map-has-key($z-layers, $layer) {
@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
}

@return map-get($z-layers, $layer);
}


@mixin typo-underline($color: clr("black"), $indent: 0.1em, $pos: 1.3em, $depth: 1px, $dash: false) {
text-decoration: none;
@if($dash == true) {
background: linear-gradient(90deg, $color 60%, transparent 0) repeat-x;
background-size: .4em $depth;
} @else {
background: linear-gradient(90deg, $color 100%, rgba($color, 0) 0) repeat-x;
background-size: 100% $depth;
}
background-position: 0 $pos;
padding-bottom: $indent;
}
