// File for scss-vars.
// For example: main colors, paddings and so on.
$colors: ( "gray": #565656, "red": #e10025, );
$z-layers: ( "modal": 100, "header": 50, "default": 1, "below": -1, "pit": -9000 );
$default-font: 'Arail', sans-serif;
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-md: 820px !default;
$screen-md-min: $screen-md !default;
$screen-lg: 1000px !default;
$screen-lg-min: $screen-lg !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-float-breakpoint: $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
$container-tablet: (708px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;
$container-desktop: (800px + $grid-gutter-width) !default;
$container-md: $container-desktop !default;
$container-large-desktop: (940px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;
