<div class="footer">
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__inner">
        <div class="footer__lists">
          <ul class="footer__list__avto">
            <li><a href="#">Автомобили</a></li>
            <li><a href="#">Civic 4D</a></li>
            <li><a href="#">Civic 5D</a></li>
            <li><a href="#">CR-V 2.0</a></li>
            <li><a href="#">CR-V 2.4</a></li>
            <li><a href="#">Pilot</a></li>
            <li><a href="#">Accord</a></li>
            <li><a href="#">Crosstour</a></li>
          </ul>
          <ul class="footer__list2">
            <li><a href="#">Аксессуары</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Компания</a></li>
            <li><a href="#">Сервис</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Программы</a></li>
          </ul>
          <ul class="footer__list3">
            <li><a href="#">Дилеры</a></li>
            <li><a href="#">Как стать дилером</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Карта сайта</a></li>
          </ul>
        <div class="footer__social">
          {{#each social}}
          <a href="#">
            <img src='__static__img/content/{{img}}' />
          </a>
          {{/each}}
        </div>
        </div>
        <hr />
        <ul class="footer__copyright">
          <li>Copyright</li>
        <li>&copy; Проект Tradeins.ru</li>
      </ul>
    </div>
  </div>
</div>
</div>
