.footer {
    background-color: #282727;
    color: #ededed;
    position: relative;
    width: 100%;
    padding-bottom: 20px;

    &__container {
        @include container();
    }

    &__row {
        @include make-row();
    }

    &__inner {
        @include make-xs-column(12);
        padding-top: 10px;
    }

    &__lists {
        overflow: auto;
    }

    &__list__avto {
        list-style: none;
        font-size: 12px;
        padding: 5px 77px 0 0;
        line-height: 1.7;
        float: left;

        a {
            text-decoration: none;
            color: #ededed;
        }

        li:first-child {
            text-transform: uppercase;
            padding-bottom: 3px;
        }
    }

    &__list2 {
        list-style: none;
        font-size: 12px;
        padding: 0;
        line-height: 2;
        text-transform: uppercase;
        float: left;
        padding-right: 80px;

        a {
            text-decoration: none;
            color: #ededed;
        }
    }

    &__list3 {
        list-style: none;
        font-size: 12px;
        padding: 0;
        line-height: 2;
        text-transform: uppercase;
        float: left;

        a {
            text-decoration: none;
            color: #ededed;
        }
    }

    &__social {
        float: right;
        padding-top: 20px;

        img {
            padding-left: 6px;
        }
    }

    &__copyright {
        list-style: none;
        padding: 5px 0;
        font-size: 10px;

        li:first-child {
            float: left;
            padding-left: 3px;
            font-family: 'Verdana';
        }

        li:last-child {
            float: right;
            font-family: 'Verdana';
        }
    }
}
