.accordeon {
    margin-top: 47px;

    &__title {
        text-transform: uppercase;
        background-color: clr('red');
        font-size: 11px;
        color: white;
        padding: 12.5px;
        border-bottom: 1px solid #b90101;
        margin: 0;
        font-weight: 400;
        cursor: pointer;
    }

    &__form {
        padding: 0 13px;
        box-shadow: 0 0 7px gray;

        input {
            border-radius: 20px;
            margin-bottom: 7px;
            font-family: 'Verdana';
            font-size: 11px;
            padding: 1px 1px 1px 5px;
            width: 100%;
            border: 1px solid #e7e7e7;
        }

        &__title {
            font-size: 12px;
            padding: 10px 35px 19px 1px;
        }

        &__comment {
            padding-top: 5px !important;
            padding-bottom: 132px !important;
            border-radius: 10px !important;
        }

        &__button {
            margin-top: 12px;
            text-transform: uppercase;
            background-color: clr('red');
            color: white;
            padding: 7px 0;
            width: 100%;
            border-radius: 15px;
            margin-bottom: 20px;
            border: 0;
            font-size: 14px;
        }
    }
}
