<div class="accordeon">
  <div>
        <div id="accordion" class="">
    {{#each application}}
      <h3 class="accordeon__title">{{title}}</h3>
      <div class="accordeon__form">
          <div class="accordeon__form__title">
            {{form_title}}
          </div>
          <input class="accordeon__form__name" placeholder="{{name}}"/>
          <input class="accordeon__form__tel" placeholder="{{tel}}"/>
          <input class="accordeon__form__comment" placeholder="{{comment}}"/>
          <button class="accordeon__form__button">Отправить</button>
        </div>
    {{/each}}
  </div>
  </div>
</div>
