.contacts {
    position: relative;
    width: 100%;

    &__container {
        @include container();
    }

    &__row {
        @include make-row();
    }

    &__inner {
        @include make-xs-column(12);
        padding-top: 10px;
    }

    &__adress {
        font-family: 'Verdana';
        text-transform: uppercase;
        font-weight: bold;
        font-size: 21px;
        float: left;
    }

    &__map_title {
        float: left;
        font-size: 12px;
        text-decoration: none;
        color: #454545;
        padding-top: 10px;
        border-bottom: 1px solid red;
        margin-left: 10px;
    }

    &__call_icon {
        float: right;
        padding-right: 10px;
        padding-top: 3px;
    }

    &__contact {
        float: right;
    }

    &__telephone {
        color: black;
        text-decoration: none;
        font-family: 'Verdana';
        font-size: 18px;
        font-weight: bold;
        text-align: right;
        margin-right: -5px;
    }

    &__letter_title {
        font-size: 12px;
        color: #454545;
        text-decoration: none;
        border-bottom: 1px dashed red;
    }
}
