<div class="contacts">
  <div class="contacts__container">
    <div class="contacts__row">
      <div class="contacts__inner">
        <div class="contacts__adress">{{{adress}}}</div>
        <a href="#" class="contacts__map_title">{{{map_title}}}</a>
        <div class="contacts__contact">
          <a href="tel:8(800)555-77-11" class="contacts__telephone">{{{telephone}}}</a>
          <br />
          <a href="#" class="contacts__letter_title">{{{letter_title}}}</a>
        </div>
        <img class="contacts__call_icon" src="__static__/img/content/call-icon.png" />
      </div>
    </div>
  </div>
</div>
