.carousel {
    position: relative;
    width: 100%;

    &__container {
        @include container();
    }

    &__row {
        @include make-row();
    }

    &__inner {
        @include make-xs-column(12);
        padding-top: 10px;
    }

    &__cars {
        margin-top: 25px;
        margin-right: -30px;
    }

    &__car {
        padding-left: 1px;

        &:nth-child(3) {
            padding-right: 0;
        }

        &:nth-child(6) {}
    }

    &__mark {
        float: left;
        font-size: 14px;
        padding-right: 5px;
    }

    &__stock {
        color: #e17838;
        font-size: 12px;
        padding-top: 2px;
    }

    &__img {
        padding-right: 5px;
    }

    &__price {
        color: clr('red');
        font-size: 12px;
        padding-top: 2px;
    }
}
