<div class="carousel">
  <div class="carousel__container">
    <div class="carousel__row">
      <div class="carousel__inner">
        <div class="carousel__cars">
        <div class="autoplay">
          {{#each minicar}}
          <div class="carousel__car">
            <div class="carousel__mark">{{{mark}}}</div>
            {{#if stock}}<div class="carousel__stock">Акция</div>{{/if}}
            <img class="carousel__img" src="__static__img/content/{{img}}" alt="" />
            <div class="carousel__price">{{{price}}}</div>
          </div>
          {{/each}}
        </div>
        </div>
    </div>
  </div>
</div>
</div>
